# game given constants
[game]
x=700
y=700
pray_speed=5
pray_perception=35
pray_collision=15
pred_nr=3
pred_speed=5
pred_perception=30
pred_collision=15
trap_nr=3
trap_collision=30

verbose=0

# algorithm related numbers.
[algo]
k=16
preprocess_games=100
learning_games=1
learning_alpha=0.1
learning_eps=0.1
learning_gamma=0.8
