# game given constants
[game]
x=300
y=300
pray_speed=2
pray_perception=40
pray_collision=10
pred_nr=3
pred_speed=3
pred_perception=45
pred_collision=10
trap_nr=3
trap_collision=15

verbose=0

# algorithm related numbers.
[algo]
k=16
preprocess_games=10
learning_games=10
batch_size=100
batch_runs=10
gui_games=10

learning_alpha=0.1
learning_eps=0.1
learning_gamma=0.8
